<!DOCTYPE html>
<html>
<head>
    <title>数据分页抓取</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <script type="text/javascript" src="/js/user.js"></script>
    <style>
        .list-cell{
            padding-top: 15px;
            padding-bottom: 15px;
        }
    </style>
</head>
<body>
<form method="post" name="form" id="form">
    <div class="container">
        <div class="row list-cell">
            <span class="col-xs-12"><input type="text" id="typename" name="typename" placeholder="输入类型名称"/></span>
        </div>
        <div class="row list-cell">
            <span class="col-xs-12"><input type="text" id="typeid" name="typeid" placeholder="请输入类型ID"/></span>
        </div>
        <div class="row list-cell">
            <span class="col-xs-12"><input type="text" id="pageurl" name="pageurl" placeholder="请输入网址"/></span>
        </div>
        <div class="row list-cell">
            <span class="col-xs-12" ><input type="submit" name="submit" value="提交"/></span>
        </div>
    </div>
</form>
</body>
</html>
